name: Koncur Repo CI testing

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

jobs:
  run-kantra-test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        exclude:
          - os: windows-latest
    uses: ./.github/workflows/kantra.yaml
    with:
      os: ${{ matrix.os }}


#  run-tackle2-hub-test:
